about.html
<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>DEPO - О проекте</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<meta name="keywords" content="0">
		<meta name="description" content="0">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="canonical" href="0">
		<link rel="stylesheet" href="lib/owl.carousel/owl.carousel.css">
		<link rel="stylesheet" href="publish/style.css">
	</head>
	<body class="b-page">
		<div class="b-header b-page__header">
			<nav class="b-menu b-menu_theme_inner"><a href="/main.html" class="b-menu__item b-menu__item_type_logo"><i></i></a><span class="b-menu__item"><span>О проекте</span></span><a href="/place.html" class="b-menu__item"><span>Расположение</span></a><a href="/scheme.html" class="b-menu__item"><span>Схема ТЦ</span></a><a href="/renter.html" class="b-menu__item"><span>Стать арендатором</span></a><a href="tel:+7(343)331-22-11" class="b-menu__item"><span>+7 343 331 22 11</span></a></nav>
		</div>
		<div class="b-page__main"> 
			<div class="b-plan b-page__plan"><img src="publish/b-plan.png" class="b-plan__img">
				<div style="color: #ff7829; background: #ff7829; left: 20.57%; bottom: 47.75%" class="b-flag">
					<div class="b-flag__head">Суперстрой</div>
					<div class="b-flag__wr">
						<div class="b-flag__text">24 000м<sup class="b-text-sup">2</sup><br>открытие в 2016 году</div>
					</div>
				</div>
				<div style="color: #ff7829; background: #ff7829; left: 31.84%; bottom: 16.5%" class="b-flag">
					<div class="b-flag__head">Drive-cafe</div>
					<div class="b-flag__wr">
						<div class="b-flag__text">24 000м<sup class="b-text-sup">2</sup><br>открытие в 2016 году</div>
					</div>
				</div>
				<div style="color: #ff7829; background: #ff7829; left: 35.29%; bottom: 62.25%" class="b-flag">
					<div class="b-flag__head">Лента</div>
					<div class="b-flag__wr">
						<div class="b-flag__text">24 000м<sup class="b-text-sup">2</sup><br>открытие в 2016 году</div>
					</div>
				</div>
				<div style="color: #ff5333; background: #ff5333; left: 52.93%; bottom: 75.13%" class="b-flag">
					<div class="b-flag__head">Торговая галерея</div>
					<div class="b-flag__wr">
						<div class="b-flag__text">24 000м<sup class="b-text-sup">2</sup><br>открытие в 2016 году</div>
					</div>
				</div>
				<div style="color: #ff7829; background: #ff7829; left: 72.33%; bottom: 78.88%" class="b-flag">
					<div class="b-flag__head">Парк развлечений</div>
					<div class="b-flag__wr">
						<div class="b-flag__text">24 000м<sup class="b-text-sup">2</sup><br>открытие в 2016 году</div>
					</div>
				</div>
			</div>
			<div class="b-page__adv b-adv">
				<div class="b-adv__item"><span class="b-adv__adv">Площадь земельного участка</span><span class="b-adv__value">15,8 Га</span></div>
				<div style="margin-top: 64px" class="b-adv__item"><span class="b-adv__adv">Общая площадь ритейл-парка</span><span class="b-adv__value">4 800 м2</span></div>
				<div style="margin-top: 77px" class="b-adv__item"><span class="b-adv__adv">Арендная площадь</span><span class="b-adv__value">40 000 м2</span></div>
				<div style="margin-top: 89px" class="b-adv__item"><span class="b-adv__adv">Количество жителей в зоне охвата</span><span class="b-adv__value">>600 тыс.</span></div>
				<div style="margin-top: 93px" class="b-adv__item"><span class="b-adv__adv">Вместимость парковки</span><span class="b-adv__value">1 800 мест</span></div>
				<div style="margin-top: 91px" class="b-adv__item"><span class="b-adv__adv">Открытие</span><span class="b-adv__value">II Кв. 2006г.</span></div>
				<div style="margin-top: 93px" class="b-adv__item"><span class="b-adv__adv">Проектом предусмотрено расширение до</span><span class="b-adv__value">60 000 м<sup>2</sup></span></div>
			</div>
			<div class="b-page__video">
				<div class="b-video">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/6Cp5Dcb5fE0" frameborder="0" allowfullscreen=""></iframe>
				</div>
			</div>
			<div class="b-text b-page__text">
				<h3>Что такое ритейл-парк?</h3>
				<p>
					Формат ритейл-парков широко распространен в&nbsp;Европе и&nbsp;США. 
					Это комплекс одноэтажных торговых зданий, которые располагаются на&nbsp;въезде/выезде 
					из&nbsp;населенного пункта или вдоль оживленной тарссы.
				</p>
				<p>
					Одним из&nbsp;главных направлений развития коммерческой недвижимости называются 
					именно ритейл-парки, главными плюсами которых являются удобное расположение, 
					просторная парковка.
				</p>
			</div>
			<div class="b-gallery">
				<h3 class="b-text-h3 b-gallery__head">Торговая галерея</h3>
				<div class="b-gallery__wr">
					<div class="b-gallery__carousel">
						<div class="b-gallery__list js-gallery__container">
							<div class="b-gallery__item"><img src="../tmp/b-gallery.jpg"></div>
							<div class="b-gallery__item"><img src="../tmp/b-gallery.jpg"></div>
							<div class="b-gallery__item"><img src="../tmp/b-gallery.jpg"></div>
							<div class="b-gallery__item"><img src="../tmp/b-gallery.jpg"></div>
						</div>
						<div class="b-gallery__overlay"></div>
					</div>
				</div>
				<div class="b-text b-page__text">
					<p>
						Общая площать аренды – 40 000м<sup>2</sup>. Наполнение торговой галереи с&nbsp;фудкортом: 
						<nobr>fashion-галерея</nobr> магазинов одежды и&nbsp;аксесуаров, супермаркеты детских, 
						спортивных товаров, бытовой техники; фудкорт 4&nbsp;формата с&nbsp;детской площадкой, кафе.
						
						
					</p>
				</div>
			</div>
			<div class="b-renters b-page__renters">
				<h3 class="b-text-h3">Наши арендаторы</h3>
				<div class="b-renters__logoist"><a href="#" title="Dior" class="b-renters__item"><img src="../tmp/b-renters__img-1.png" alt="Dior"></a><a href="#" title="MEXX" class="b-renters__item"><img src="../tmp/b-renters__img-2.png" alt="MEXX"></a><a href="#" title="H&amp;M" class="b-renters__item"><img src="../tmp/b-renters__img-3.png" alt="H&amp;M"></a><a href="#" title="ZARA" class="b-renters__item"><img src="../tmp/b-renters__img-4.png" alt="ZARA"></a><a href="#" title="Dior" class="b-renters__item"><img src="../tmp/b-renters__img-1.png" alt="Dior"></a><a href="#" title="MEXX" class="b-renters__item"><img src="../tmp/b-renters__img-2.png" alt="MEXX"></a><a href="#" title="H&amp;M" class="b-renters__item"><img src="../tmp/b-renters__img-3.png" alt="H&amp;M"></a><a href="#" title="ZARA" class="b-renters__item"><img src="../tmp/b-renters__img-4.png" alt="ZARA"></a><a href="#" title="Dior" class="b-renters__item"><img src="../tmp/b-renters__img-1.png" alt="Dior"></a><a href="#" title="MEXX" class="b-renters__item"><img src="../tmp/b-renters__img-2.png" alt="MEXX"></a><a href="#" title="H&amp;M" class="b-renters__item"><img src="../tmp/b-renters__img-3.png" alt="H&amp;M"></a><a href="#" title="ZARA" class="b-renters__item"><img src="../tmp/b-renters__img-4.png" alt="ZARA"></a><a href="#" title="Dior" class="b-renters__item"><img src="../tmp/b-renters__img-1.png" alt="Dior"></a><a href="#" title="MEXX" class="b-renters__item"><img src="../tmp/b-renters__img-2.png" alt="MEXX"></a><a href="#" title="H&amp;M" class="b-renters__item"><img src="../tmp/b-renters__img-3.png" alt="H&amp;M"></a>
				</div>
			</div>
		</div>
		<div class="b-page__footer b-page__footer_page_scheme"><a href="/place.html" class="b-page__footer-link">Расположение</a></div>
		<div class="b-modal-overlay"></div>
		<div id="b-modal__news" class="b-modal">
			<div class="b-modal__wrapper"><i class="b-modal__close"></i>
				<div class="b-colored b-colored_type_modal">
					<ul class="b-colored__list">
						<li class="b-colored__item"></li>
						<li class="b-colored__item"></li>
						<li class="b-colored__item"></li>
						<li class="b-colored__item"></li>
					</ul>
				</div>
				<div class="b-modal__window">
					<div class="b-mnew">
						<div class="b-mnew__date">24 февраля</div>
						<div class="b-mnew__head">Состоялось открытие гипермаркета «Лента»</div><img src="../tmp/b-mnew__img.jpg">
						<p>
							Торговый комплекс расположится вдоль одной из&nbsp;главныз магистралей города&nbsp;&mdash; улице 
							Свердловское шоссе, ведущей по&nbsp;направлению к&nbsp;центру города и&nbsp;крупному обособленному 
							району&nbsp;&mdash; Дзержинскому (121&nbsp;тыс. жителей). Также шоссе служит основной дорогой 
							<nobr>въезда/выезда</nobr> из&nbsp;города в&nbsp;направлении Нижний Тагил. 
						</p>
						<p>
							Общая площать аренды – 40 000м<sup>2</sup>. Наполнение торговой галереи с&nbsp;фудкортом: 
							<nobr>fashion-галерея</nobr> магазинов одежды и&nbsp;аксесуаров, супермаркеты детских, 
							спортивных товаров, бытовой техники; фудкорт 4&nbsp;формата с&nbsp;детской площадкой, кафе.
							
							
							
						</p>
					</div>
				</div>
			</div>
		</div>
		<!--if isDevelopment-->
		<script src="http://yandex.st/jquery/1.9.1/jquery.min.js"></script>
		<script>window.jQuery || document.write("<script src=\"lib/jquery/jquery.min.js\"><\/script>")</script>
		<script src="publish/script.js"></script>
		<script>
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount','0'],['_trackPageview']);
			(function(doc, w, script, c) {
			    var f = function () { fjs.parentNode.insertBefore(js, fjs); };
			    var js, fjs = doc.getElementsByTagName(script)[2],
			        add = function(url, id) {
			            if (doc.getElementById(id)) {return;}
			            js = doc.createElement(script); js.src = url; js.async = true; js.defer = true;
			            id && (js.id = id);
			            f();
			        };
			
			    (w[c] = w[c] || []).push(function() {
			        try { w.yaCounter0 = new Ya.Metrika({id:0, enableAll: true, webvisor:true}); } catch(e) {}
			    });
			
			    add('//www.google-analytics.com/ga.js', 'ga');
			    add(("https:" == location.protocol ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js", 'ya-metrika');
			    //add('https://apis.google.com/js/plusone.js'); // Google+ button
			    //add('//connect.facebook.net/en_US/all.js', 'facebook-jssdk'); // Facebook SDK
			    //add('//platform.twitter.com/widgets.js', 'twitter-wjs'); // Twitter SDK
			}(document, window, 'script', 'yandex_metrika_callbacks'));
		</script>
		<noscript><div><img src="//mc.yandex.ru/watch/0" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	</body>
</html>

jade/about.jade
extends layout/base
include ../blocks/b-menu/b-menu
include ../blocks/b-flag/b-flag

block vars

block head.title
  title #{title} - О проекте


block body.header
  .b-header.b-page__header
    +b-menu.b-menu_theme_inner

block body.content
  .b-page__main 
    .b-plan.b-page__plan
      img(src="publish/b-plan.png").b-plan__img
      
      +b-flag(20.57, 47.75,'#ff7829', 'Суперстрой')
      +b-flag(31.84, 16.5 , '#ff7829', 'Drive-cafe')
      +b-flag(35.29, 62.25,'#ff7829', 'Лента')
      +b-flag(52.93, 75.13,'#ff5333', 'Торговая галерея')
      +b-flag(72.33, 78.88,'#ff7829', 'Парк развлечений')
    
    
    .b-page__adv.b-adv
      .b-adv__item
        span.b-adv__adv Площадь земельного участка
        span.b-adv__value 15,8 Га
      
      .b-adv__item(style='margin-top: 64px')
        span.b-adv__adv Общая площадь ритейл-парка
        span.b-adv__value 4 800 м2
      
      .b-adv__item(style='margin-top: 77px')
        span.b-adv__adv Арендная площадь
        span.b-adv__value 40 000 м2

      .b-adv__item(style='margin-top: 89px')
        span.b-adv__adv Количество жителей в зоне охвата
        span.b-adv__value >600 тыс.

      .b-adv__item(style='margin-top: 93px')
        span.b-adv__adv Вместимость парковки
        span.b-adv__value 1 800 мест

      .b-adv__item(style='margin-top: 91px')
        span.b-adv__adv Открытие
        span.b-adv__value II Кв. 2006г.

      .b-adv__item(style='margin-top: 93px')
        span.b-adv__adv Проектом предусмотрено расширение до
        span.b-adv__value 60 000 м
          sup 2
      
    .b-page__video: .b-video
      iframe(width='560', height='315', src='https://www.youtube.com/embed/6Cp5Dcb5fE0', frameborder='0', allowfullscreen='')
    .b-text.b-page__text
      h3 Что такое ритейл-парк?
      p Формат ритейл-парков широко распространен в&nbsp;Европе и&nbsp;США. 
        | Это комплекс одноэтажных торговых зданий, которые располагаются на&nbsp;въезде/выезде 
        | из&nbsp;населенного пункта или вдоль оживленной тарссы.
      p Одним из&nbsp;главных направлений развития коммерческой недвижимости называются 
        | именно ритейл-парки, главными плюсами которых являются удобное расположение, 
        | просторная парковка.
    
    .b-gallery
      h3.b-text-h3.b-gallery__head Торговая галерея
      .b-gallery__wr
        .b-gallery__carousel
          .b-gallery__list.js-gallery__container
            .b-gallery__item: img(src='../tmp/b-gallery.jpg')
            .b-gallery__item: img(src='../tmp/b-gallery.jpg')
            .b-gallery__item: img(src='../tmp/b-gallery.jpg')
            .b-gallery__item: img(src='../tmp/b-gallery.jpg')
          .b-gallery__overlay
      
      .b-text.b-page__text
        p.
          Общая площать аренды – 40 000м<sup>2</sup>. Наполнение торговой галереи с&nbsp;фудкортом: 
          <nobr>fashion-галерея</nobr> магазинов одежды и&nbsp;аксесуаров, супермаркеты детских, 
          спортивных товаров, бытовой техники; фудкорт 4&nbsp;формата с&nbsp;детской площадкой, кафе.

    
    .b-renters.b-page__renters
      h3.b-text-h3 Наши арендаторы
      .b-renters__logoist
        each val in [1,2,3] 
          a(href="#", title='Dior').b-renters__item: img(src='../tmp/b-renters__img-1.png', alt='Dior')
          a(href="#", title='MEXX').b-renters__item: img(src='../tmp/b-renters__img-2.png', alt='MEXX')
          a(href="#", title='H&M').b-renters__item:  img(src='../tmp/b-renters__img-3.png', alt='H&M')
          a(href="#", title='ZARA').b-renters__item: img(src='../tmp/b-renters__img-4.png', alt='ZARA')
        a(href="#", title='Dior').b-renters__item: img(src='../tmp/b-renters__img-1.png', alt='Dior')
        a(href="#", title='MEXX').b-renters__item: img(src='../tmp/b-renters__img-2.png', alt='MEXX')
        a(href="#", title='H&M').b-renters__item:  img(src='../tmp/b-renters__img-3.png', alt='H&M')
      
block body.footer
  .b-page__footer.b-page__footer_page_scheme: a(href="/place.html").b-page__footer-link Расположение

//- block append modal
  
