main.html
<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>DEPO - Главная страница</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<meta name="keywords" content="0">
		<meta name="description" content="0">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="canonical" href="0">
		<link rel="stylesheet" href="lib/owl.carousel/owl.carousel.css">
		<link rel="stylesheet" href="publish/style.css">
	</head>
	<body class="b-page">
		<div class="b-header b-header_main b-page__header b-page__header_main">
			<div class="b-header__background"></div>
			<!--.b-menu_theme_inner-->
			<nav class="b-menu"><a href="/main.html" class="b-menu__item b-menu__item_type_logo"><i></i></a><span class="b-menu__item"><span>О проекте</span></span><a href="/place.html" class="b-menu__item"><span>Расположение</span></a><a href="/scheme.html" class="b-menu__item"><span>Схема ТЦ</span></a><a href="/renter.html" class="b-menu__item"><span>Стать арендатором</span></a><a href="tel:+7(343)331-22-11" class="b-menu__item"><span>+7 343 331 22 11</span></a></nav>
			<div class="b-header__head">
				<h1 class="b-header__logo">DEPO</h1>
				<p class="b-header__subscr">Самый крупный торговый комплекс<br>в&nbsp;Нижнем Тагиле</p>
			</div>
			<div class="b-header__downbtn"></div>
		</div>
		<div class="b-page__main b-page__main_main">
			<div class="b-colored">
				<ul class="b-colored__list">
					<li class="b-colored__item"></li>
					<li class="b-colored__item"></li>
					<li class="b-colored__item"></li>
					<li class="b-colored__item">
						<p class="b-colored__value">120</p>
						<p class="b-colored__var">дней до открытия</p>
					</li>
					<li class="b-colored__item"></li>
				</ul>
				<div class="b-colored__text-block">
					Торговый комплекс расположится вдоль одной из&nbsp;главныз магистралей города&nbsp;&mdash; улице 
					Свердловское шоссе, ведущей по&nbsp;направлению к&nbsp;центру города и&nbsp;крупному обособленному 
					району&nbsp;&mdash; Дзержинскому (121&nbsp;тыс. жителей). Также шоссе служит основной дорогой 
					<nobr>въезда/выезда</nobr> из&nbsp;города в&nbsp;направлении Нижний Тагил.
				</div>
			</div>
			<div class="b-carousel">
				<div class="b-carousel__row">
					<div class="b-carousel__head">События ритейл-парка DEPO</div>
					<div class="b-carousel__wrapper">
						<div class="b-carousel__container"><a href="#b-modal__news" class="b-ccard js-modal">
								<div class="b-ccard__txt">
									<p class="b-ccard__head">24/02</p>
									<p class="b-ccard__p">
										Летом планируется открытие якорного продуктового 
										арендатора – гипермаркета «Лента»
									</p>
								</div><img src="../tmp/b-carousel__img-1.jpg" class="b-ccard__img"></a><a href="#" class="b-ccard">
								<div class="b-ccard__txt">
									<p class="b-ccard__head">24/02</p>
									<p class="b-ccard__p">
										Летом планируется открытие якорного продуктового 
										арендатора – гипермаркета «Лента»
									</p>
								</div><img src="../tmp/b-carousel__img-2.jpg" class="b-ccard__img"></a><a href="#" class="b-ccard">
								<div class="b-ccard__txt">
									<p class="b-ccard__head">24/02</p>
									<p class="b-ccard__p">
										Летом планируется открытие якорного продуктового 
										арендатора – гипермаркета «Лента»
									</p>
								</div><img src="../tmp/b-carousel__img-1.jpg" class="b-ccard__img"></a><a href="#" class="b-ccard">
								<div class="b-ccard__txt">
									<p class="b-ccard__head">24/02</p>
									<p class="b-ccard__p">
										Летом планируется открытие якорного продуктового 
										арендатора – гипермаркета «Лента»
									</p>
								</div><img src="../tmp/b-carousel__img-2.jpg" class="b-ccard__img"></a><a href="#" class="b-ccard">
								<div class="b-ccard__txt">
									<p class="b-ccard__head">24/02</p>
									<p class="b-ccard__p">
										Летом планируется открытие якорного продуктового 
										арендатора – гипермаркета «Лента»
									</p>
								</div><img src="../tmp/b-carousel__img-1.jpg" class="b-ccard__img"></a></div>
					</div>
				</div>
			</div>
		</div>
		<div class="b-page__footer"><a href="/about.html" class="b-page__footer-link">О проекте</a></div>
		<div class="b-modal-overlay"></div>
		<div id="b-modal__news" class="b-modal">
			<div class="b-modal__wrapper"><i class="b-modal__close"></i>
				<div class="b-colored b-colored_type_modal">
					<ul class="b-colored__list">
						<li class="b-colored__item"></li>
						<li class="b-colored__item"></li>
						<li class="b-colored__item"></li>
						<li class="b-colored__item"></li>
					</ul>
				</div>
				<div class="b-modal__window">
					<div class="b-mnew">
						<div class="b-mnew__date">24 февраля</div>
						<div class="b-mnew__head">Состоялось открытие гипермаркета «Лента»</div><img src="../tmp/b-mnew__img.jpg">
						<p>
							Торговый комплекс расположится вдоль одной из&nbsp;главныз магистралей города&nbsp;&mdash; улице 
							Свердловское шоссе, ведущей по&nbsp;направлению к&nbsp;центру города и&nbsp;крупному обособленному 
							району&nbsp;&mdash; Дзержинскому (121&nbsp;тыс. жителей). Также шоссе служит основной дорогой 
							<nobr>въезда/выезда</nobr> из&nbsp;города в&nbsp;направлении Нижний Тагил. 
						</p>
						<p>
							Общая площать аренды – 40 000м<sup>2</sup>. Наполнение торговой галереи с&nbsp;фудкортом: 
							<nobr>fashion-галерея</nobr> магазинов одежды и&nbsp;аксесуаров, супермаркеты детских, 
							спортивных товаров, бытовой техники; фудкорт 4&nbsp;формата с&nbsp;детской площадкой, кафе.
							
							
							
						</p>
					</div>
				</div>
			</div>
		</div>
		<!--if isDevelopment-->
		<script src="http://yandex.st/jquery/1.9.1/jquery.min.js"></script>
		<script>window.jQuery || document.write("<script src=\"lib/jquery/jquery.min.js\"><\/script>")</script>
		<script src="publish/script.js"></script>
		<script>
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount','0'],['_trackPageview']);
			(function(doc, w, script, c) {
			    var f = function () { fjs.parentNode.insertBefore(js, fjs); };
			    var js, fjs = doc.getElementsByTagName(script)[2],
			        add = function(url, id) {
			            if (doc.getElementById(id)) {return;}
			            js = doc.createElement(script); js.src = url; js.async = true; js.defer = true;
			            id && (js.id = id);
			            f();
			        };
			
			    (w[c] = w[c] || []).push(function() {
			        try { w.yaCounter0 = new Ya.Metrika({id:0, enableAll: true, webvisor:true}); } catch(e) {}
			    });
			
			    add('//www.google-analytics.com/ga.js', 'ga');
			    add(("https:" == location.protocol ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js", 'ya-metrika');
			    //add('https://apis.google.com/js/plusone.js'); // Google+ button
			    //add('//connect.facebook.net/en_US/all.js', 'facebook-jssdk'); // Facebook SDK
			    //add('//platform.twitter.com/widgets.js', 'twitter-wjs'); // Twitter SDK
			}(document, window, 'script', 'yandex_metrika_callbacks'));
		</script>
		<noscript><div><img src="//mc.yandex.ru/watch/0" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	</body>
</html>

jade/main.jade
extends layout/base
include ../blocks/b-menu/b-menu

block vars

block head.title
  title #{title} - Главная страница


block body.header
  .b-header.b-header_main.b-page__header.b-page__header_main
    .b-header__background
    //.b-menu_theme_inner
    +b-menu
    .b-header__head
      h1.b-header__logo DEPO
      p.b-header__subscr Самый крупный торговый комплекс<br>в&nbsp;Нижнем Тагиле

    .b-header__downbtn
    
block body.content
  .b-page__main.b-page__main_main
    .b-colored
      ul.b-colored__list
        each val in [1,2,3]
          li.b-colored__item
        li.b-colored__item
          p.b-colored__value 120
          p.b-colored__var дней до открытия
        li.b-colored__item
      .b-colored__text-block.
        Торговый комплекс расположится вдоль одной из&nbsp;главныз магистралей города&nbsp;&mdash; улице 
        Свердловское шоссе, ведущей по&nbsp;направлению к&nbsp;центру города и&nbsp;крупному обособленному 
        району&nbsp;&mdash; Дзержинскому (121&nbsp;тыс. жителей). Также шоссе служит основной дорогой 
        <nobr>въезда/выезда</nobr> из&nbsp;города в&nbsp;направлении Нижний Тагил.
    .b-carousel: .b-carousel__row
      .b-carousel__head События ритейл-парка DEPO
      .b-carousel__wrapper
        .b-carousel__container
          
            a(href="#b-modal__news").b-ccard.js-modal
              .b-ccard__txt
                p.b-ccard__head 24/02
                p.b-ccard__p Летом планируется открытие якорного продуктового 
                  | арендатора – гипермаркета «Лента»
              img(src='../tmp/b-carousel__img-1.jpg').b-ccard__img
            
            a(href="#").b-ccard
              .b-ccard__txt
                p.b-ccard__head 24/02
                p.b-ccard__p Летом планируется открытие якорного продуктового 
                  | арендатора – гипермаркета «Лента»
              img(src='../tmp/b-carousel__img-2.jpg').b-ccard__img
            
            a(href="#").b-ccard
              .b-ccard__txt
                p.b-ccard__head 24/02
                p.b-ccard__p Летом планируется открытие якорного продуктового 
                  | арендатора – гипермаркета «Лента»
              img(src='../tmp/b-carousel__img-1.jpg').b-ccard__img
            
            a(href="#").b-ccard
              .b-ccard__txt
                p.b-ccard__head 24/02
                p.b-ccard__p Летом планируется открытие якорного продуктового 
                  | арендатора – гипермаркета «Лента»
              img(src='../tmp/b-carousel__img-2.jpg').b-ccard__img
            
            a(href="#").b-ccard
              .b-ccard__txt
                p.b-ccard__head 24/02
                p.b-ccard__p Летом планируется открытие якорного продуктового 
                  | арендатора – гипермаркета «Лента»
              img(src='../tmp/b-carousel__img-1.jpg').b-ccard__img
        

block body.footer
  .b-page__footer: a(href="/about.html").b-page__footer-link О проекте

//- block append modal
