jade/renter.jade
extends layout/base
extends layout/base
include ../blocks/b-menu/b-menu
include ../blocks/b-flag/b-flag

block vars

block head.title
  title #{title} - Стать арендатором


block body.header
  .b-header.b-page__header
    +b-menu.b-menu_theme_inner

block body.content
  .b-map.b-page__main
    .b-map__map.b-map__map_renter#js-map
    .b-map__cont.b-cont
      .b-cont__wr
        .b-cont__head По вопросам аренды:
        p.b-cont__cont ООО «Центарльная недвижимость»<br>620104 Екатеринбург<br>ул. 8 Марта, 12а, офис 117
        p.b-cont__cont
          a(href="tel:+7(343)253-16-77").b-cont__phone +7 (343) 253 16 77
          br
          a(href="tel:+7(963)443-21-36").b-cont__phone +7 (963) 443 21 36
          br
          a(href="mailto:rent@r-cc.ru").b-link rent@r-cc.ru
        a(href="#b-modal__order").js-modal.b-btn Оставить заявку
      
      
block body.footer
  .b-page__footer.b-page__footer_page_copy
    span © Все права принадлежат ООО «Центральная недвижимость»
    a(href="http://vse-yasno.ru/" target="_blank" rel="nofollow noreferrer").b-page__copy Разработка сайта — агенство «Все Ясно»

block append modal
  .b-modal#b-modal__order: .b-modal__wrapper
    i.b-modal__close
    .b-colored.b-colored_type_modal
      ul.b-colored__list
        each val in [1,2,3,4]
          li.b-colored__item
    .b-modal__window
      form(action='/renter.html', novalidate="novalidate").b-form#js-form__order
        .b-form__head Оставьте заявку
        div.b-form__set: input(required, minlength="2",  placeholder="Имя",    type="text", name="name").b-form__input#js-form__name
        div.b-form__set: input(required, minlength="18", placeholder="Телефон", type="tel", name="tel").b-form__input#js-form__tel
        div.b-form__set: textarea(placeholder="Сообщение").b-form__text
        div.b-form__btn-wr
          //конечно нужно не захардкодить это, а асинхронно показать, после успеха
          button(type="submit").b-btn Отправить
    
  .b-modal.b-modal_type_response#b-modal_type_response: .b-modal__wrapper
    i.b-modal__close
    .b-modal__window
      .b-success
        .b-success__wr
          p.b-success__txt Спасибо! Ваша заявка отправлена.<br>Мы свяжемся с вами в ближайшее время.
          a.b-btn.js-modal__close(href="#") ОК
  
block prepend body.js
  script(src="http://maps.google.com/maps/api/js?sensor=false", type="text/javascript")
  script(src="/lib/google.map/infobox.js")

renter.html
<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>DEPO - Стать арендатором</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<meta name="keywords" content="0">
		<meta name="description" content="0">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="canonical" href="0">
		<link rel="stylesheet" href="lib/owl.carousel/owl.carousel.css">
		<link rel="stylesheet" href="publish/style.css">
	</head>
	<body class="b-page">
		<div class="b-header b-page__header">
			<nav class="b-menu b-menu_theme_inner"><a href="/main.html" class="b-menu__item b-menu__item_type_logo"><i></i></a><span class="b-menu__item"><span>О проекте</span></span><a href="/place.html" class="b-menu__item"><span>Расположение</span></a><a href="/scheme.html" class="b-menu__item"><span>Схема ТЦ</span></a><a href="/renter.html" class="b-menu__item"><span>Стать арендатором</span></a><a href="tel:+7(343)331-22-11" class="b-menu__item"><span>+7 343 331 22 11</span></a></nav>
		</div>
		<div class="b-map b-page__main">
			<div id="js-map" class="b-map__map b-map__map_renter"></div>
			<div class="b-map__cont b-cont">
				<div class="b-cont__wr">
					<div class="b-cont__head">По вопросам аренды:</div>
					<p class="b-cont__cont">ООО «Центарльная недвижимость»<br>620104 Екатеринбург<br>ул. 8 Марта, 12а, офис 117</p>
					<p class="b-cont__cont"><a href="tel:+7(343)253-16-77" class="b-cont__phone">+7 (343) 253 16 77</a><br><a href="tel:+7(963)443-21-36" class="b-cont__phone">+7 (963) 443 21 36</a><br><a href="mailto:rent@r-cc.ru" class="b-link">rent@r-cc.ru</a></p><a href="#b-modal__order" class="js-modal b-btn">Оставить заявку</a>
				</div>
			</div>
		</div>
		<div class="b-page__footer b-page__footer_page_copy"><span>© Все права принадлежат ООО «Центральная недвижимость»</span><a href="http://vse-yasno.ru/" target="_blank" rel="nofollow noreferrer" class="b-page__copy">Разработка сайта — агенство «Все Ясно»</a></div>
		<div class="b-modal-overlay"></div>
		<div id="b-modal__news" class="b-modal">
			<div class="b-modal__wrapper"><i class="b-modal__close"></i>
				<div class="b-colored b-colored_type_modal">
					<ul class="b-colored__list">
						<li class="b-colored__item"></li>
						<li class="b-colored__item"></li>
						<li class="b-colored__item"></li>
						<li class="b-colored__item"></li>
					</ul>
				</div>
				<div class="b-modal__window">
					<div class="b-mnew">
						<div class="b-mnew__date">24 февраля</div>
						<div class="b-mnew__head">Состоялось открытие гипермаркета «Лента»</div><img src="../tmp/b-mnew__img.jpg">
						<p>
							Торговый комплекс расположится вдоль одной из&nbsp;главныз магистралей города&nbsp;&mdash; улице 
							Свердловское шоссе, ведущей по&nbsp;направлению к&nbsp;центру города и&nbsp;крупному обособленному 
							району&nbsp;&mdash; Дзержинскому (121&nbsp;тыс. жителей). Также шоссе служит основной дорогой 
							<nobr>въезда/выезда</nobr> из&nbsp;города в&nbsp;направлении Нижний Тагил. 
						</p>
						<p>
							Общая площать аренды – 40 000м<sup>2</sup>. Наполнение торговой галереи с&nbsp;фудкортом: 
							<nobr>fashion-галерея</nobr> магазинов одежды и&nbsp;аксесуаров, супермаркеты детских, 
							спортивных товаров, бытовой техники; фудкорт 4&nbsp;формата с&nbsp;детской площадкой, кафе.
							
							
							
						</p>
					</div>
				</div>
			</div>
		</div>
		<div id="b-modal__order" class="b-modal">
			<div class="b-modal__wrapper"><i class="b-modal__close"></i>
				<div class="b-colored b-colored_type_modal">
					<ul class="b-colored__list">
						<li class="b-colored__item"></li>
						<li class="b-colored__item"></li>
						<li class="b-colored__item"></li>
						<li class="b-colored__item"></li>
					</ul>
				</div>
				<div class="b-modal__window">
					<form action="/renter.html" novalidate="novalidate" id="js-form__order" class="b-form">
						<div class="b-form__head">Оставьте заявку</div>
						<div class="b-form__set">
							<input required minlength="2" placeholder="Имя" type="text" name="name" id="js-form__name" class="b-form__input">
						</div>
						<div class="b-form__set">
							<input required minlength="18" placeholder="Телефон" type="tel" name="tel" id="js-form__tel" class="b-form__input">
						</div>
						<div class="b-form__set">
							<textarea placeholder="Сообщение" class="b-form__text"></textarea>
						</div>
						<div class="b-form__btn-wr">
							<!--конечно нужно не захардкодить это, а асинхронно показать, после успеха-->
							<button type="submit" class="b-btn">Отправить</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div id="b-modal_type_response" class="b-modal b-modal_type_response">
			<div class="b-modal__wrapper"><i class="b-modal__close"></i>
				<div class="b-modal__window">
					<div class="b-success">
						<div class="b-success__wr">
							<p class="b-success__txt">Спасибо! Ваша заявка отправлена.<br>Мы свяжемся с вами в ближайшее время.</p><a href="#" class="b-btn js-modal__close">ОК</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
		<script src="/lib/google.map/infobox.js"></script>
		<!--if isDevelopment-->
		<script src="http://yandex.st/jquery/1.9.1/jquery.min.js"></script>
		<script>window.jQuery || document.write("<script src=\"lib/jquery/jquery.min.js\"><\/script>")</script>
		<script src="publish/script.js"></script>
		<script>
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount','0'],['_trackPageview']);
			(function(doc, w, script, c) {
			    var f = function () { fjs.parentNode.insertBefore(js, fjs); };
			    var js, fjs = doc.getElementsByTagName(script)[2],
			        add = function(url, id) {
			            if (doc.getElementById(id)) {return;}
			            js = doc.createElement(script); js.src = url; js.async = true; js.defer = true;
			            id && (js.id = id);
			            f();
			        };
			
			    (w[c] = w[c] || []).push(function() {
			        try { w.yaCounter0 = new Ya.Metrika({id:0, enableAll: true, webvisor:true}); } catch(e) {}
			    });
			
			    add('//www.google-analytics.com/ga.js', 'ga');
			    add(("https:" == location.protocol ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js", 'ya-metrika');
			    //add('https://apis.google.com/js/plusone.js'); // Google+ button
			    //add('//connect.facebook.net/en_US/all.js', 'facebook-jssdk'); // Facebook SDK
			    //add('//platform.twitter.com/widgets.js', 'twitter-wjs'); // Twitter SDK
			}(document, window, 'script', 'yandex_metrika_callbacks'));
		</script>
		<noscript><div><img src="//mc.yandex.ru/watch/0" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	</body>
</html>
